/* global.css */

[class^="rc-slider-tooltip"] {
    min-height: 30px;
    max-width: 160px;
    position: fixed;
  }

  .logtable-header-row,
  .logtable-row {
    display: flex;
    width: 100%;
  }
  
  .logtable-header-cell,
  .logtable-cell {
    flex: 0 0 auto;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .logtable-header-row {
    border-bottom: 1px solid black;
  }
  
  .logtable-row {
    border-bottom: 1px solid #eee;
  }
  
  .logtable-row.selected {
    background-color: #d0d0ff;
  }
  
  .logtable-header-cell.short-column,
  .logtable-cell.short-column {
    width: 50px;
  }
  
  .logtable-header-cell > *,
  .logtable-cell > * {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .selected-event-indicator-container {
    position: relative;
    width: 0;
    height: 0;
  }
  
  .selected-event-indicator {
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Ensure the mark text container doesn't clip our indicator */
  .rc-slider-mark-text {
    height: 30px;
    overflow: visible;
  }

.map-button {
  padding: 8px 12px;
  border: none;
  background: white;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px 10px 10px -5px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  color: #666;
}

.inner-button {
  margin: 5px;
}

.map-button:hover {
  background: #f1f1f1;
}


